/* ===
    ***** main colors **** 
    blue : #00425a
    red : #db5656
    === */
body {
    font-family: none !important;
    color: #1a1919 !important
}
label {
    color: #7e7e7e;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}
hr{
    border-width: 1px;
}

/* ===
***** bootstrap fix **** 
=== */
.bg-body-tertiary {
    background-color: #FFF !important;   
}
.new-price, .old-price {
    font-family: sans-serif;
}
.btn-primary {
    background-color: #00425a;
    border-color: #00425a;
    border-radius: 0;
    padding: 10px 40px;
    font-size: 20px;
    display: block;
    width: 100%;
}
.btn-primary:hover,.btn-primary:visited,.btn-primary:active,.btn-primary:link {

    background-color: #03394c;
    border-color: #00425a;
}
.list-unstyled > .list-item {
    display: inline-block;
}
.list-unstyled > .list-item > a{
  text-decoration: none;
  color: #cd0404;
}
.badge {
    padding: 9px 15px;
    border-radius: 5px;
}

input{
    border-radius: 0 !important;
}

/* === 
    **** top navbar sale bar ****
=== */
.top-navbar {
    background-color: #000000;
    color: #ffffff;
    height: 48px;
}
.sale-notification {
    color: #FFF;
    text-align: center;
    line-height: 2.7em;
    font-size: 18px;
    font-weight: 600;
}

/* ===
    ***** sale page **** 
    === */
.product_info, 
.related-product {
    padding: 50px;
    margin-top: 90px; 
}
.related-product h1 {
    position: relative;
}
.related-product h1::after {
    position: absolute;
    content: "";
    height: 2px;
    bottom: -17px;
    right: 13px;
    width: 97px;
    background-color: #db5656;
}
.variants .variant-item {
    display: inline-block;
    margin: 10px 7px;
}
.variants .variant-item label{
    padding: 7px 17px;
    font-weight: 600;
}
.variants h3 {
    margin: 25px 0 9px 0;
    font-size: 23px;
    font-weight: 600;
}
@media (max-width: 720px) {
    .product_info {
        padding: 0;
    }
}
.product-name {
    font-weight: 900;
    margin:12px 0;
    font-size: 33px;
}
.nav-item {
    position: relative;
    justify-content: center;
}
.product-description-title {
    text-align: center;
    font-weight: 700;
    position: relative;
    width: 100px;
    margin: 0 auto;
    color: #000;
    font-size: 17px;
}
.btn-link {
    text-decoration: none;
}
.btn-link.active:after {
    position: absolute;
    content: "";
    height: 2px;
    bottom: -17px;
    right: 13px;
    width: 97px;
    background-color: #db5656;
}
#main-img {
    max-width: 100%;
    max-height: 100%;
}
.variants-img {
    max-width: 100%;
    max-height: 100%;
}
.product-description {
    max-width: 100%;
}
.product-description img{
    max-width: 100%;
}
.form-title {
    font-size: 20px;
    font-weight: 600;
    margin: 12px 0px;
    font-family: none;
}
.new-price {
    font-size: 25px;
    font-weight: 600;
    color: #db5656;
    margin: 0 12px;
    padding: 8px;
}
.call-to-action {
    font-weight: 600;

}