/* ===
**** Global ****
=== */
body {
    background: #f8f9fa;
}
.h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
}
a {
    text-decoration: none;
    color: #1c1c1cad;
}
.btn-primary {
    background-color: #00425AFF;
    border-color: #00425AFF;
}
#editor {
    border: none;
}
#editor img {
    width: 50%;
}
#editor:focus {
    outline: none;
    border: none !important;
}
/* ===
**** bootstrap fixes ****
=== */
.btn, .form-control {
    border-radius: 0;
}
.sidebar-item .badge {
    border-radius: 50% !important;
    width: 23px;
    height: 23px;
    /* text-align: center; */
    line-height: 0.4rem;
    font-size: 14px;
    font-weight: bold;
}
/* ===
**** images preview css ****
=== */
#image-preview > .row > .col-sm-3 {
    position: relative;
}
#image-preview > .row > .col-sm-3 button{
    position: absolute;
    top: 0;
    left: 14px;
    font-weight: bold;
}

/* ===
**** quatity custom css ****
    === */
.qty-container {
    display: flex;
}
.qty-container .input-qty {
    text-align: center;
    padding: 6px 10px;
    border: 1px solid #d4d4d4;
    max-width: 80px;
}
.qty-container .qty-btn-minus,
.qty-container .qty-btn-plus {
    border: 1px solid #d4d4d4;
    padding: 10px 13px;
    font-size: 10px;
    height: 38px;
    width: 38px;
    transition: 0.3s;
}
.qty-container .qty-btn-plus {
    margin-left: -1px;
}
.qty-container .qty-btn-minus {
    margin-right: -1px;
}

/* ====
   ***** navabar ***** 
   === */
nav.bg-body-tertiary {
    height: 68px;
    background-color: #FFF !important;
}
.dropdown-item i {
    display: inline-block !important;
    width: 20px;
}

/* Upload Images with preview  */
.remove-img-btn {
    position: absolute;
    top: 0;
    right: 0;
}
.image-preview {
    display: flex;
    flex-wrap: wrap;
  }
  
  .image-preview img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .overlay:hover {
    opacity: 1;
  }
/* ===
**** left sidebar offcanvas ***** 
   === */
.offcanvas {
    width: 240px !important;
    background-color: #00425AFF !important;
    color: #FFF;
}
.offcanvas-body {
    padding: 0;
}
.list-group-item {
    background-color: transparent;
    border: none;
    padding: 0;
}
.list-group-item > a {
    display: block;
    text-decoration: none;
    color: #FFF;
    padding: 15px;
    position: relative;
}
.list-group-item > a:hover,.list-group-item > .active {
   background-color: rgba(0, 0, 0, 0.2);
}
.list-group-item > .active::before {
    content:"";
    position: absolute;
    height: 100%;
    width: 3px;
    background-color: #FFF;
    top: 0;
    left: 0;
}
.list-group-item > a .sidebar-item {
    display: inline-block;
    margin-left: 16px;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
}

.list-group-item > a i {
    font-size: 15px;
    font-weight: bold;
    color: #9aa4b2;
    width: 26px;
}

.sub-group {
    padding: 0;
    background-color: #03384c
}

.sub-group a {
    display: block;
    text-decoration: none;
    padding: 10px;
    padding-left: 55px;
    color: #bbb;
    font-size: 14px;
}